---
layout: default
---

<div class="blog-index">
  {% assign index = true %}
  {% for post in paginator.posts %}
  {% assign content = post.content %}
    <article>
      {% include article.html %}
    </article>
  {% endfor %}
  <div class="pagination">
    {% if paginator.next_page %}
      <a class="prev" href="{{paginator.next_page_path}}">&larr; Older</a>
    {% endif %}
    <a href="/blog/archives">Blog Archives</a>
    {% if paginator.previous_page %}
    <a class="next" href="{{paginator.previous_page_path}}">Newer &rarr;</a>
    {% endif %}
  </div>
</div>
<aside class="sidebar">
  <a href="https://github.com/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Apublic+author%3ARadicalZephyr+archived%3Afalse+is%3Aclosed+-user%3Amason-bially+-user%3AWWU-ACM+-user%3Adropshot+-user%3Akyle-rader+-user%3ASage-Bionetworks+-user%3Areillsiemens+-user%3Agarrettec1+-user%3ARadicalZephyr+-user%3Aconnectedhealth+user%3Aconnectedhealth+-user%3Abike-barn+-user%3Areillysiemens+">My Open Source Work</a>
  {% if site.blog_index_asides.size %}
    {% include_array blog_index_asides %}
  {% else %}
    {% include_array default_asides %}
  {% endif %}
</aside>
